.square {
    height: 50px;
    width: 50px;
    background-color: violet;
    border: 1px solid black;
    text-align: center;
}

.square p {
    padding: auto 0;
}

.square2 {
    height: 60px;
    width: 300px;
    background-color: brown;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    color: lightyellow;
}

.square2 p {
    padding: auto 0;
}

form {
    padding: 10px;
    font-size: 22px;
}

label {
    min-width: 200px;
}

input {
    margin-left: 20px;
}

#button_validation {
    padding: 10px;
    font-weight: 1.4em;
    box-shadow: 2px 2px 4px black;
}